/*.linkAdmin{*/
/*    position: absolute;*/
/*    top: -53px;*/
/*    left: 590px;*/
/*}*/
/*.linkUsers{*/
/*    position: absolute;*/
/*    top: -53px;*/
/*    left: 650px;*/
/*}*/
/*.linkClient{*/
/*    position: absolute;*/
/*    top: -53px;*/
/*    left: 710px;*/
/*}*/
/*.linkOrders{*/
/*    position: absolute;*/
/*    top: -53px;*/
/*    left: 770px;*/
/*}*/
.titleNews {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px; }

.titleN {
  margin: 15px;
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  color: cadetblue; }

.header-back {
  min-height: 100px;
  background-color: azure;
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*align-items: center;*/ }

Button {
  margin: 15px; }

#search-and-basket {
  display: flex;
  justify-content: space-around; }
.AllCard {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  justify-content: center; }
.AllCard {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 30px;
  justify-content: center; }
.cost {
  font-family: "Franklin Gothic Medium";
  font-size: large;
  color: cadetblue; }
